{% extends 'main/layout.html' %}

{% block body %}
	<a href = "{% url 'campaigns:index2' %}"> 
		<h2 style = 'color: red;'>Campaigns' list(no registration)</h2>
	</a>	
	
	<p></p>

	<a href = "{% url 'users:index2' %}">
		<h2 style = 'color: red;'>Users' list(no registration)</h2>
	</a>

	<p></p>
	<center>
	<table>
		<tr>
			<td>
				<h2>User registration</h2>
				<h4>( + Profile )</h4>
			</td>
			<td>
				<p></p>
				<a href = "{% url 'users:registerplus2' %}"> Create new user and profile</a>	
			</td>
		</tr>

		<tr>
			<td>	
				<h2>User login</h2>
			</td>
			<td>	
				<a href = "{% url 'users:login' %}"> Enter </a>
			</td>	
		</tr>
	</table>
	</center>
	<p></p>

{% endblock %}