{% extends 'campaigns/layout.html' %}

{% block body %}

	<h2>Create new campaign</h2>
	<form action = "{% url 'campaigns:add' user2.id %}" method = "post"> 
		{% csrf_token %}
			
		<input type="text" name="title" placeholder="Campaign_title">
		<p></p>
		<input type="text" name="status" placeholder="A, P, F">
		<p></p>

		<select name = 'supervisor'>
			{% for supervisor in supervisors %}
				<option value="{{supervisor.id}}">{{ supervisor.nick }}</option>
			{% endfor %}
		</select>

		<p></p>			
		<input type="submit">
		
	</form>

	
{% endblock %}