{% extends 'campaigns/layout.html' %}

{% block body %}
	<h1> Campaign {{campaign.id}} : </h1>
	<ul>
		<li>Title : {{campaign.title}}</li>
		<li>Status : {{campaign.status}}</li>
		<li>Supervisor = {{campaign.supervisor.nick}}</li>
		<li>Creator = {{campaign.creator.username}}</li>
	</ul>

	<h1> Campaign's houses : </h1>
	<ol>
		{% for house in houses %}
			<li>{{house}}</li>
		{% empty %}
			<li> no houses</li>
		{% endfor %}

	</ol>

	<h2>Add House</h2>
	<form action = "{% url 'campaigns:book' campaign.id %}" method = "post"> 
		{% csrf_token %}
		<select name = 'house'>

			{% for house in extra_houses %}
				<option value = '{{house.id}}'>{{house}}</option>
			{% endfor %}
			
		</select>
		<input type="submit">
		
	</form>

	<h1> Campaign's checkups : </h1>
	<ol>
		{% for checkup in checkups %}
			<li>
			 	<a href="{% url 'campaigns:checkup' checkup.id %}">
					Check UP {{checkup.id}} : {{checkup}}
				</a>
			</li>
		{% empty %}
			<li> no checkups</li>
		{% endfor %}

	</ol>	

	<a href = "{% url 'campaigns:index' %}"> Back to campaigns list </a>
{% endblock %}