{% extends 'campaigns/layout.html' %}

{% block body %}
	<p> authorized user : {{user2.username}}</p>
	<p></p>

	<h1>Campaigns</h1>
	<ul>
		{% for campaign in campaigns %}
		<li>

				Campaign {{campaign.id}} : {{campaign.title}}

		</li>	

		{% empty %}
			<li> no campaigns</li>

		{% endfor %} 

	</ul>	

	
	<a href = "{% url 'campaigns:h2_index' user2.id %}"> Campaigns' available houses</a>	
	<p></p>

	<h2>Create new campaign</h2>
	<a href = "{% url 'campaigns:add' user2.id %}"> Create new campaign </a>
	<p></p>	

	
	<a href = "{% url 'users:logout' %}"> Log out </a>
	<p></p>
	
{% endblock %}