{% extends 'users/layout.html' %}

{% block body %}
    <h2>Fix password</h2>

    <form method="post">
        {% csrf_token %}
        {% load bootstrap %}
        {{form|bootstrap}}
    
    	<div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
<!--         <input type="submit" value="Submit">
 -->        
    </form>

    <p></p>
    <nav class="navbar bg-dark bg-opacity-75">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{% url 'users:index2' %}">Back to users' list</a>
            <a class="navbar-brand text-white" href="{% url 'users:user2' user.id %}"> Back to user2's page </a>
        </div>
    </nav>
	<p></p>
{% endblock %}