{% extends 'users/layout.html' %}

{% block body %}
	<h1>Welcome, {{user2.username}}</h1>

	<h1> User2 (user_id : {{user2.id}}) : </h1>

	{% if message %}
		<div> {{message}}</div>
		<p></p>
	{% endif %}

	<h2>Fix user_profile</h2>
	<form class="form-floating" action="{% url 'users:c_profile2' user2.id %}" method = "post"> 
		{% csrf_token %}
			
		<div class="form-floating">
			<input type="text" class="form-control" name="nick" value={{user2.profile.nick}}>
			<label for="floatingInputValue">nick</label>			
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" name="phone" value={{user2.profile.phone}}>
			<label for="floatingInputValue">phone</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" name="f_name" value={{user2.profile.f_name}}>
			<label for="floatingInputValue">first name</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" name="l_name" value={{user2.profile.l_name}}>
			<label for="floatingInputValue">last name</label>
		</div>
		<div class="form-floating">
			<input type="email" class="form-control" name="email" value={{user2.profile.email}}>
			<label for="floatingInputValue">email</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" name="sex" value={{user2.profile.sex}}>
			<label for="floatingInputValue">sex</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" name="address" value={{user2.profile.address}}>
			<label for="floatingInputValue">address</label>
		</div>
		<div class="form-floating">
			<input type="date" class="form-control" name="bdate" required>
			<label for="floatingInputValue">birth_date</label>
		</div>	

 		<div class="form-floating">
    		<button type="submit" class="btn btn-primary">Submit</button>
  		</div>

<!-- 		<input type="submit"> -->
		
	</form>

	<p></p>
    <nav class="navbar bg-dark bg-opacity-75">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{% url 'users:user2' user2.id %}"> Back to user2's page </a>
        </div>
    </nav>

	<p></p>
{% endblock %}