{% extends 'users/layout.html' %}

{% block body %}
	<h1>Users</h1>
	
	<ul class="list-group list-group-flush">
		{% for user in users %}
			<li class="list-group-item"> 
				User2 (id : {{user.id}}) : {{user.username}}
			</li>
		{% empty %}
			<li class="list-group-item"> no users </li>
		{% endfor %} 
	</ul>

 	<nav class="navbar bg-dark bg-opacity-75">
 		
	  	<div class="container-fluid">
			<a class="navbar-brand text-white" href = "{% url 'main:index' %}"> Back to start page </a>
		</div>
		
	</nav>
	
{% endblock %}