{% extends 'users/layout.html' %}

{% block head %}
<!-- 	<link rel="stylesheet" type="text/css" href="if_color.css">
 -->

 	<style>
 		.msg2 {
 			font-weight: bold;
 			color: yellow;
 		}
 	</style>
{% endblock %}

{% block body %}

	<form class="form-floating" action="{% url 'users:login' %}" method="post">
		{% csrf_token %}
		<div class="form-floating">
			<input type="text" class="form-control" name="username" placeholder="Username">
			<label for="floatingInputValue">username</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" name="password" placeholder="Password">
			<label for="floatingInputValue">password</label>
		</div>
		<p></p>
 		<div class="form-floating">
    		<button type="submit" class="btn btn-primary">Submit</button>
  		</div>
	</form>

	{% if msg_2 %}
		<div class = 'msg2'>
			{% if msg_2.msg_type == 'positive' %}
				<p style = 'color: green;'>{{msg_2.msg_text}}</p>
			{% elif msg_2.msg_type == 'negative' %}
				<p style = 'color: red;'>{{msg_2.msg_text}}</p>
			{% elif msg_2.msg_type == 'neutral' %}
				<p style = 'color: darkgrey;'>{{msg_2.msg_text}}</p>
			{% else %}
				<p>{{msg_2.msg_text}}</p>
			{% endif %}
		</div>

		<nav class="navbar bg-dark bg-opacity-75">
			<div class="container-fluid">
				<a class="navbar-brand text-white" href = "{% url 'users:index2' %}"> Back to users' list </a>
				<a class="navbar-brand text-white" href = "{% url 'main:index' %}"> Back to start page</a>
			</div>
		</nav>

	{% endif %}
{% endblock %}