{% extends 'users/layout.html' %}

{% block body %}

	<form class="form-floating" action="{% url 'users:login' %}" method="post">
		{% csrf_token %}
		<div class="form-floating">
			<input type="text" class="form-control" name="username" placeholder="Username">
			<label for="floatingInputValue">username</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" name="password" placeholder="Password">
			<label for="floatingInputValue">password</label>
		</div>
		<p></p>
 		<div class="form-floating">
    		<button type="submit" class="btn btn-primary">Submit</button>
  		</div>
	</form>

	{% if message %}
		{% if message == ' Logged out ' or message == ' invalid username and/or password ' %}
			<div style="color: red; font-weight: bold;"> {{message}}</div>
		{% elif message == ' To create new campaign : 1. log in 2. move to create new campaign^2 '%}
			<div style="color: blueviolet; font-weight: bold;"> {{message}}</div>
		{% else %}
			<div style="color: seagreen; font-weight: bold;"> {{message}}</div>
		{% endif %}

		<nav class="navbar bg-dark bg-opacity-75">
			<div class="container-fluid">
				<a class="navbar-brand text-white" href = "{% url 'users:index2' %}"> Back to users' list </a>
				<a class="navbar-brand text-white" href = "{% url 'main:index' %}"> Back to start page</a>
			</div>
		</nav>

	{% endif %}
{% endblock %}