{% extends 'users/layout.html' %}

{% block body %}
	<h1>Welcome, {{user2.username}}</h1>

	<h1> User2 (user_id : {{user2.id}}) : </h1>
	<ul>

		<li>first_name : {{user2.profile.f_name}}</li>
		<li>last_name : {{user2.profile.l_name}}</li>
		<li>email = {{user2.profile.email}}</li>
		
 		<li>nick = {{user2.profile.nick}}</li>
		<li>phone = {{user2.profile.phone}}</li>

	</ul>

	<h1>My Campaigns</h1>
	<ul>
		{% for campaign in user2_campaigns %}
		<li>
		 	
				Campaign {{campaign.id}} : {{campaign.title}}
			</a>
		</li>	

		{% empty %}
			<li> no campaigns</li>

		{% endfor %} 

	</ul>	

	{% if message %}
		<div> {{message}}</div>
		<p></p>
	{% endif %}

	<a href = "{% url 'campaigns:index' %}"> Full campaigns' list detailed info </a>
	<p></p>

		<a href = "{% url 'campaigns:indexplususer2' user2.id %}"> Create new campaign </a>
	<p></p>

	<a href = "{% url 'users:c_profile2' user2.id %}"> Fix user's profile </a>
	<p></p>

	<a href = "{% url 'users:c_password' %}"> Fix user's password </a>
	<p></p>


	<a href = "{% url 'users:logout' %}"> Log out </a>
	<p></p>
	
{% endblock %}