{% extends 'users/layout.html' %}

{% block body %}
	<h1>Welcome, {{user20.username}}</h1>

	<h1> User2.0 (user_id : {{user20.id}}) : </h1>
<!-- 	<ul>

		<li>first_name : {{user20.first_name}}</li>
		<li>last_name : {{user20.last_name}}</li>
		<li>email = {{user20.email}}</li>


	</ul>
 -->
	{% if message %}
		<div> {{message}}</div>
		<p></p>
	{% endif %}

	<h2>Create user_profile</h2>
	<form action = "{% url 'users:create_profile2' user20.id %}" method = "post"> 
		{% csrf_token %}
			
		<input type="text" name="nick" placeholder="Nick_name">
		<input type="text" name="phone" placeholder="Phone">

		<input type="text" name="f_name" placeholder="first name">
		<input type="text" name="l_name" placeholder="last name">
		<input type="email" name="email" placeholder="c@ya.ru">


		<input type="text" name="sex" placeholder="male or female">
		<input type="text" name="address" placeholder="city, street, house, flat">

		<input type="date" name="bdate" required>	

		<input type="submit">
		
	</form>

	
{% endblock %}