{% extends 'users/layout.html' %}

{% block body %}
	<h1>Welcome, {{user2.username}}!</h1>

	<h4> (user_id : {{user2.id}}) : </h4>

	<ul class="list-group list-group-flush">
		<li class="list-group-item">first_name : {{user2.profile.f_name}}</li>
		<li class="list-group-item">last_name : {{user2.profile.l_name}}</li>
		<li class="list-group-item">email = {{user2.profile.email}}</li>
 		<li class="list-group-item">nick = {{user2.profile.nick}}</li>
		<li class="list-group-item">phone = {{user2.profile.phone}}</li>
	</ul>

	<nav class="navbar bg-primary">
	  	<div class="container-fluid">
			<a class="navbar-brand text-white" href = "{% url 'users:c_profile2' user2.id %}"> Fix user's profile </a>
			<a class="navbar-brand text-white" href = "{% url 'users:c_password' %}"> Fix user's password </a>
		</div>
	</nav>


	<h1>My Campaigns</h1>
	<ul class="list-group list-group-flush">
		{% for campaign in user2_campaigns %}
		<li class="list-group-item">
		 	<a href="{% url 'campaigns:campaign' campaign.id %}">
				Campaign {{campaign.id}} : {{campaign.title}}
			</a>
 			<a href="{% url 'users:c_delete' campaign.id %}" class="btn btn-danger" role="button" data-bs-toggle="button">Delete</a>
		</li>	
		{% empty %}
			<li class="list-group-item"> no campaigns</li>
		{% endfor %} 
	</ul>	

	{% if message %}
		<div> {{message}}</div>
		<p></p>
	{% endif %}

	<nav class="navbar bg-primary">
	  	<div class="container-fluid">
			<a class="navbar-brand text-white" href = "{% url 'campaigns:index' %}"> Full campaigns' list detailed info </a>
			<a class="navbar-brand text-white" href = "{% url 'campaigns:indexplususer2' user2.id %}"> Create new campaign </a>
		</div>
	</nav>

	<p></p>

 	<nav class="navbar bg-dark bg-opacity-75">
 		<div class="container-fluid">
			<a class="navbar-brand text-white" href = "{% url 'users:logout' %}"> Log out </a>
		</div>
	</nav>

{% endblock %}